
Исследование рынка видеоигр/.ipynb_checkpoints/games_analitic-checkpoint.ipynb
Классификация комментариев в социальных сетях/.ipynb_checkpoints/text_classification-checkpoint.ipynb
Предсказание оттока клиентов коммерческого банка/.ipynb_checkpoints/client_outflow-checkpoint.ipynb
